.navbar-logo img {
  height: 45px;
}

.btn-primary {
  background-color: $accent_color;
  border-color: $accent_color;
  &:hover {
    background-color: lighten($accent_color, 10%);
    border-color: $accent_color;
  }
}

.main-wrapper .container .full-width #long-column-item {
  width: 50%;
}

.new-books .package-grid-item {
  width: 100%;
}

.btn-full-width {
  width: 100%;
}

.price span {
  font-size: calc(150%);
}
